# === Gradle build / wrapper ===
.gradle/
**/build/
**/out/
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

# === Java artifacts ===
*.class
*.jar
*.war
*.ear

# === IDE / Editor ===
.idea/
*.iml
.vscode/
bin/

# === OS-specific ===
.DS_Store
Thumbs.db

# === Docker / Mosquitto ===
mosquitto/passwd
mosquitto/data/
mosquitto/log/
.gradle/
.vscode-server/
**/build/
**/out/
mosquitto/data/
.vscode-server/

# === Dataset ===
dataset/
*.pcd
